.root {
    display: 'flex';
    flex-Direction: 'row';
    justify-Content: 'space-between';
    align-Items: 'center';
}
.divider {
    color: 'rgb(0, 0, 0)';
    background-Color: 'rgb(0, 0, 0)';
    height: '1px';
}
.container {
    margin-Top : '1.22rem';
    margin-Bottom : '1.22rem';
}